<article itemscope itemtype="https://schema.org/BlogPosting">
    <section class="byline">
        <meta itemprop="headline" content="$title$"/>
        $-if(author)$
        <p>
          By
          <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name">$author$</span>
            $-if(author-url)$
            <link itemprop="url" href="$author-url$"/>
            $-endif$
            $-if(author-fediverse)$
            <meta name="fediverse:creator" content="$author-fediverse$"/>
            $-endif$
          </span>.
        </p>
        $-else$
        <p>
          By
          <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name">Yoo Chung</span>.
            <link itemprop="url" href="https://chungyc.org/"/>
            <meta name="fediverse:creator" content="@chungyc@mathstodon.xyz"/>
          </span>
        </p>
        $-endif$
        <p>Published on <span itemprop="datePublished" content="$published$T00:00:00+00:00">$published$</span>.</p>
        $-if(updated)$
        <p>Updated on <span itemprop="dateModified" content="$updated$T00:00:00+00:00">$updated$</span>.</p>
        $-endif$
    </section>
    <section itemprop="articleBody">
        $body$
    </section>
    <meta itemprop="image" content="$if(image)$$image$$else$/favicon.svg$endif$" />
    $-if(description)$
    <meta itemprop="description" content="$description$"/>
    $-endif$
</article>
