name: HLint
permissions: {}

on:
  push:
  pull_request:
  schedule:
  - cron: '59 2 2 * *'

jobs:
  hlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/hlint-scan@v1
